@import "tailwindcss";

html {
  scroll-behavior: smooth;
}
/* Custom sidebar scrollbar */
.sidebar-scroll::-webkit-scrollbar {
  width: 8px;
}

.sidebar-scroll::-webkit-scrollbar-track {
  background: #1e3a8a; /* deep blue */
}

.sidebar-scroll::-webkit-scrollbar-thumb {
  background-color: #3b82f6; /* blue-500 */
  border-radius: 6px;
}

.sidebar-scroll::-webkit-scrollbar-thumb:hover {
  background-color: #2563eb; /* blue-600 */
}
